# $HOME/.gitconfig
[core]
    editor = vim
    autocrlf = input
    filemode = false
	excludesfile = ~/.config/git/ignore
[user]
    name = Christopher Bocardo
    email = 397636+ccb012100@users.noreply.github.com
	signingkey = 9B5FBAC67F099289
[gpg]
    program = gpg
[commit]
	verbose = true
[pull]
    ff = only
    rebase = true
[push]
	default = simple
    autoSetupRemote = true
[fetch]
    prune = true
[rebase]
    autoStash = false
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = gpg
[include]
    path = .config/git/aliases.gitconfig
    path = .config/git/github.gitconfig
    path = .config/git/tools.gitconfig
