[core]
    editor = vim
    autocrlf = input
    filemode = false
	excludesfile = ~/.config/git/ignore
[user]
    name = Christopher Bocardo
    email = ccb012100@users.noreply.github.com
    signingkey = 0C186B9F
[commit]
    gpgsign = true
	verbose = true
[gpg]
    program = gpg
[color]
    ui = true
[pull]
    ff = only
    rebase = true
[fetch]
    prune = false
[rebase]
    autoStash = false
[alias]
    acm     = ! git add -vA && git commit -m
    alias   = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    amend   = commit -a --amend
    a       = add -v
    ai      = add --interactive
    b       = branch -v
    br      = branch --remote -v
    c       = commit
    cb      = checkout -vB
    cm      = commit -m
    co      = checkout
    d       = diff
    ds      = diff --staged
    dt      = difftool
    dts     = difftool --staged
    l       = log --pretty='format:%C(yellow)%h %C(magenta)%as %C(blue)%aL %C(cyan)%s%C(reset)'
    l1      = l -1 --stat
    last    = log -1 HEAD --stat
    main    = checkout -v main
    master  = checkout -v master
    ps      = push -v
    pl      = pull -v
    pub     = !git push -v --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    ri      = rebase  -v --interactive
    ruo     = remote update origin -v --prune # update local list of remote branches
    s       = status -sb
    f       = forgit
    # resets the previous commit but keep all the changes from that commit in the working directory
    undo = reset HEAD~1 --mixed
    ## forgit aliases
    fl      = forgit log
    fa      = forgit add
    fcb     = forgit checkout_branch
    fcc     = forgit checkout_commit
    fcf     = forgit checkout_file
    fcp     = forgit cherry_pick
    fct     = forgit checkout_tag
    fd      = forgit diff
    ffu     = forgit fixup
    fi      = forgit ignore
    fr      = forgit rebase
    frc     = forgit revert_commit
    frg     = forgit reset_head
    fss     = forgit stash_show
[merge]
	tool = meld
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[gpg]
    program = gpg
[pager]
    difftool = true
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
    syntax-theme = Dracula
    keep-plus-minus-markers = true
    line-numbers = true
    line-number-right-style = green
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[includeIf "gitdir:~/6RiverSystems/"]
    path = ~/6RiverSystems/.gitconfig
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = ccb012100
[push]
	default = simple
[url "git@github.com:"]
	insteadof = https://github.com/
