# $HOME/.gitconfig
[core]
    editor = vim
    autocrlf = input
    filemode = false
	excludesfile = ~/.config/git/ignore
[user]
    name = Christopher Bocardo
    email = 97636+ccb012100@users.noreply.github.com
[gpg]
    program = gpg
[color]
    ui = true
[pull]
    ff = only
    rebase = true
[push]
	default = simple
[fetch]
    prune = true
[rebase]
    autoStash = false
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
##
## GitHub
[github]
	user = ccb012100
[url "git@github.com:"]
	insteadof = https://github.com/
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
##
## diff/merge tools
[merge]
	tool = meld
[diff]
    tool = difftastic
[difftool]
    prompt = false
[interactive]
    diffFilter = delta --color-only --features=interactive
[pager]
    difftool = true
    diff = delta
    log = delta
    reflog = delta
    show = delta
[mergetool "vscode"]
    cmd = code --wait $MERGED
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[delta]
    features = decorations
    syntax-theme = Dracula
    keep-plus-minus-markers = true
    line-numbers = true
    line-number-right-style = green
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
##
## aliases
[alias]
    acm     = ! git add -vA && git commit -m
    alias   = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    amend   = commit -a --amend
    a       = add -v
    ai      = add --interactive
    b       = branch -v
    br      = branch --remote -v
    c       = commit
    cb      = checkout -B
    cm      = commit -m
    co      = checkout
    d       = diff
    ds      = diff --staged
    dt      = difftool
    dts     = difftool --staged
    l       = log --pretty='format:%C(yellow)%h %C(magenta)%as %C(blue)%aL %C(cyan)%s%C(reset)'
    l1      = l -1 --stat
    last    = log -1 HEAD --stat
    main    = checkout -v main
    master  = checkout -v master
    ps      = push -v
    pl      = pull -v
    pub     = !git push -v --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    ri      = rebase  -v --interactive
    ruo     = remote update origin -v --prune # update local list of remote branches
    s       = status
    f       = fetch -v
    # resets the previous commit but keep all the changes from that commit in the working directory
    undo = reset HEAD~1 --mixed
##
